doctype html
html
  head
    title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
  body
    #app
    script(src='/javascripts/build.js')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
